<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col"><br/>
      <label>ReceiverName</label><br/>
      <input type="text" (input)="onReceiverChanged($any($event.target).value)">
    </div>  
    <div class="col"><br/>
      <label>ReceiverName</label><br/>
      {{receiverText | titlecase }}
    </div>  
  </div>

  <div class="row">
    <div class="form-group col"><br/>
      <label>PaymentDate</label><br/>
      <input type="date" (input)="onPaymentDateChanged($any($event.target).value)">
    </div>  
    <div class="col"><br/>
      <label>PaymentDate</label><br/>
      {{paymentDateText | date : 'longDate'}}
    </div>  
  </div>

</div>

<div>
  
</div>